{% extends 'base.html.twig' %}

{% block body %}
<h1>Détails de l'auteur</h1>

<p><strong>Nom :</strong> {{ author.username }}</p>
<p><strong>Email :</strong> {{ author.email }}</p>
<p><strong>Nombre de livres :</strong> {{ author.nb_books }}</p>

<img src="{{ asset(author.picture) }}" alt="{{ author.username }}" width="150">

<p><a href="{{ path('app_listauthors',{'id':author.id}) }}">Retour à la liste</a></p>
{% endblock %}
